:root {
    /* global text color */
    --color-global-text: #1D1B20;
    --color-global-text_second: #9A979E;

    /* btn */
    --color-btn-bg: #65558F;
    --color-btn-text: #fff;

    /* btn wo bg */
    --color-btn-wo-bg: #9A979E;

    /* btn hover */
    --color-btn-hover-bg: #E8DEF8;

    /* btn disabled */
    --color-btn-disabled-bg: #DADCE0;
    --color-btn-disabled-text: #9AA0A6;

    /* background popup color */
    --color-bg-popup: rgba(0, 0, 0, 0.5);
    
    /* urgency colors */
    /* ============== */
    /* w/o opacity */
    --color-urgency-high: rgba(232, 109, 109);
    --color-urgency-middle: rgb(255, 130, 6);
    /* --color-urgency-low: rgba(128, 191, 138, 0.3); */
    --color-urgency-low: rgb(64, 204, 87);


    /* wallet section color */
    /* ==================== */
    /* without opacity */
    --color-wallet-fund-available-wo: rgb(64, 204, 87);
    --color-wallet-fund-invested-wo: rgb(82, 86, 212);
    --color-wallet-fund-debt-wo: rgb(232, 109, 109);

    /* with opacity */
    --color-wallet-fund-available: rgba(64, 204, 87, 0.4);
    --color-wallet-fund-invested: rgba(66, 38, 248, 0.4);
    --color-wallet-fund-debt: rgba(232, 109, 109, 0.4);

    /* STATUS */
    /* ====== */
    --color-status-paused: rgba(84, 11, 231, 0.3);
    --color-status-finished: rgba(128, 191, 138, 0.3);
    --color-status-canceled: rgba(189, 186, 189, 0.5);
    /* w/o opacity */
    --color-urgency-low-wo: rgb(128, 191, 138);

    /* status colors */
    --color-paused-wrapper-bg: rgba(189, 186, 189, 0.9);
    --color-item-hover-bg: rgba(0, 0, 0, 0.05);
    
    /* other */
    --color-error:  rgba(226, 17, 17, 0.9);
}