:root {
    /* global text color */
    --color-global-text: #1D1B20;
    --color-global-text_second: #9A979E;

    /* btn */
    --color-btn-bg: #65558F;
    --color-btn-text: #fff;

    /* btn wo bg */
    --color-btn-wo-bg: #9A979E;

    /* btn hover */
    --color-btn-hover-bg: #E8DEF8;

    /* btn disabled */
    --color-btn-disabled-bg: #DADCE0;
    --color-btn-disabled-text: #9AA0A6;

    /* background popup color */
    --color-bg-popup: rgba(0, 0, 0, 0.5);
    
    /* urgency colors */
    /* with opacity */
    --color-urgency-high: rgba(232, 109, 109, 0.3);
    --color-urgency-middle: rgba(230, 176, 123, 0.5);
    /* --color-urgency-low: rgba(128, 191, 138, 0.3); */
    --color-urgency-low: var(--color-btn-text);

    --color-status-paused: rgba(152, 103, 152, 0.5);
    --color-status-finished: rgba(128, 191, 138, 0.3);
    --color-status-canceled: rgba(189, 186, 189, 0.5);
    /* w/o opacity */
    --color-urgency-low-wo: rgb(128, 191, 138);

    /* status colors */
    --color-paused-wrapper-bg: rgba(189, 186, 189, 0.9);
    --color-item-hover-bg: rgba(0, 0, 0, 0.05);
    
    /* other */
    --color-error:  rgba(226, 17, 17, 0.9);
}